<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Views &#8211; TSMP Law Corporation</title>
	<atom:link href="https://www.tsmplaw.com/news-category/views/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.tsmplaw.com</link>
	<description></description>
	<lastBuildDate>Mon, 01 Jun 2020 06:51:53 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>
	<item>
		<title>Prof Tang Hang Wu&#8217;s Forefront article published in the BT: &#8220;Exorcising the ghost in the Wills Act&#8221;</title>
		<link>https://www.tsmplaw.com/news/prof-tang-hang-wus-forefront-article-published-in-the-bt-exorcising-the-ghost-in-the-wills-act/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Sat, 30 May 2020 06:48:04 +0000</pubDate>
				<guid isPermaLink="false">https://www.tsmplaw.com/?post_type=news&#038;p=2407</guid>

					<description><![CDATA[<p>On 30 May 2020, TSMP Law Corporation consultant and Co-head of Private Wealth and Trust Advisory Prof Tang Hang Wu&#8217;s Forefront piece, “Exorcising the Ghost in the Wills Act”, was published in the Business Times. The commentary can be found here (BT link).</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/prof-tang-hang-wus-forefront-article-published-in-the-bt-exorcising-the-ghost-in-the-wills-act/">Prof Tang Hang Wu&#8217;s Forefront article published in the BT: &#8220;Exorcising the ghost in the Wills Act&#8221;</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>On 30 May 2020, TSMP Law Corporation consultant and Co-head of Private Wealth and Trust Advisory Prof Tang Hang Wu&#8217;s <a href="https://www.tsmplaw.com/forefront/exorcising-the-ghost-in-the-wills-act/" target="_blank" rel="noopener noreferrer">Forefront</a> piece, “Exorcising the Ghost in the Wills Act”, was published in the Business Times. The commentary can be found here (<a href="https://www.businesstimes.com.sg/opinion/exorcising-the-ghost-in-the-wills-act" target="_blank" rel="noopener noreferrer">BT link</a>).</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/prof-tang-hang-wus-forefront-article-published-in-the-bt-exorcising-the-ghost-in-the-wills-act/">Prof Tang Hang Wu&#8217;s Forefront article published in the BT: &#8220;Exorcising the ghost in the Wills Act&#8221;</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Stefanie Yuen Thio&#8217;s commentary published in BT: &#8220;Is Covid-19 the great leveller?&#8221;</title>
		<link>https://www.tsmplaw.com/news/stefanie-yuen-thios-commentary-published-in-bt-is-covid-19-the-great-leveller/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Mon, 18 May 2020 06:53:12 +0000</pubDate>
				<guid isPermaLink="false">https://www.tsmplaw.com/?post_type=news&#038;p=2395</guid>

					<description><![CDATA[<p>On 18 May 2020, TSMP Law Corporation Joint Managing Partner and Head of Corporate Stefanie Yuen Thio’s Forefront piece, &#8220;The True Cost of Coronavirus&#8221;, was published in the Business Times. The commentary can be found here (BT link).</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thios-commentary-published-in-bt-is-covid-19-the-great-leveller/">Stefanie Yuen Thio&#8217;s commentary published in BT: &#8220;Is Covid-19 the great leveller?&#8221;</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>On 18 May 2020, TSMP Law Corporation Joint Managing Partner and Head of Corporate Stefanie Yuen Thio’s <a href="https://www.tsmplaw.com/forefront/the-true-cost-of-coronavirus/" target="_blank" rel="noopener noreferrer">Forefront</a> piece, &#8220;The True Cost of Coronavirus&#8221;, was published in the Business Times. The commentary can be found here (<a href="https://www.businesstimes.com.sg/opinion/is-covid-19-the-great-leveller" target="_blank" rel="noopener noreferrer">BT link</a>).</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thios-commentary-published-in-bt-is-covid-19-the-great-leveller/">Stefanie Yuen Thio&#8217;s commentary published in BT: &#8220;Is Covid-19 the great leveller?&#8221;</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Ong Pei Ching&#8217;s Forefront article, &#8220;Sustainable Capitalism&#8221; carried in Today</title>
		<link>https://www.tsmplaw.com/news/ong-pei-chings-forefront-article-sustainable-capitalism-carried-in-today/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Tue, 05 May 2020 11:54:58 +0000</pubDate>
				<guid isPermaLink="false">https://www.tsmplaw.com/?post_type=news&#038;p=2379</guid>

					<description><![CDATA[<p>On 5 May 2020, Ong Pei Ching&#8217;s Forefront piece was published in Today. The commentary can be found here (Today link).</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/ong-pei-chings-forefront-article-sustainable-capitalism-carried-in-today/">Ong Pei Ching&#8217;s Forefront article, &#8220;Sustainable Capitalism&#8221; carried in Today</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>On 5 May 2020, Ong Pei Ching&#8217;s <a href="https://www.tsmplaw.com/forefront/sustainable-capitalism/" target="_blank" rel="noopener noreferrer">Forefront</a> piece was published in Today. The commentary can be found here (<a href="https://www.todayonline.com/commentary/covid-19-upending-capitalism-we-know-it-can-businesses-rewrite-their-rule-books" target="_blank" rel="noopener noreferrer">Today link</a>).</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/ong-pei-chings-forefront-article-sustainable-capitalism-carried-in-today/">Ong Pei Ching&#8217;s Forefront article, &#8220;Sustainable Capitalism&#8221; carried in Today</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Adrian Tan&#8217;s commentary on doxxing published in ST: &#8220;Taking a strong stand against doxxing&#8221;</title>
		<link>https://www.tsmplaw.com/news/adrian-tans-commentary-on-doxxing-published-in-st-taking-a-strong-stand-against-doxxing/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Thu, 13 Feb 2020 06:07:52 +0000</pubDate>
				<guid isPermaLink="false">http://www.tsmplaw.com/?post_type=news&#038;p=2267</guid>

					<description><![CDATA[<p>On 13 February 2020, the Business Times published Adrian&#8217;s commentary on doxxing. The article may be found here (BT Paywall). The op-ed will also be published in TSMP’s Forefront newsletter on 2 March 2020.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/adrian-tans-commentary-on-doxxing-published-in-st-taking-a-strong-stand-against-doxxing/">Adrian Tan&#8217;s commentary on doxxing published in ST: &#8220;Taking a strong stand against doxxing&#8221;</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>On 13 February 2020, the Business Times published Adrian&#8217;s commentary on doxxing. The article may be found here (<a href="https://www.straitstimes.com/opinion/taking-a-strong-stand-against-doxxing" target="_blank" rel="noopener noreferrer">BT Paywall</a>). The op-ed will also be published in TSMP’s <a href="http://www.tsmplaw.com/forefront">Forefront</a> newsletter on 2 March 2020.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/adrian-tans-commentary-on-doxxing-published-in-st-taking-a-strong-stand-against-doxxing/">Adrian Tan&#8217;s commentary on doxxing published in ST: &#8220;Taking a strong stand against doxxing&#8221;</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Stefanie Yuen Thio&#8217;s commentary on billion-dollar startups &#8220;Differentiating unicorns from asses&#8221; published in BT</title>
		<link>https://www.tsmplaw.com/news/stefanie-yuen-thios-commentary-on-billion-dollar-startups-differentiating-unicorns-from-asses-published-in-bt/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Fri, 29 Nov 2019 05:39:57 +0000</pubDate>
				<guid isPermaLink="false">http://www.tsmplaw.com/?post_type=news&#038;p=2209</guid>

					<description><![CDATA[<p>TSMP Law Corporation Joint Managing Partner Stefanie Yuen Thio wrote a commentary on why some billion-dollar startups succeed and why some fail. This was published in the Business Times on 29 November 2019. The commentary is also available as a Forefront by TSMP article.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thios-commentary-on-billion-dollar-startups-differentiating-unicorns-from-asses-published-in-bt/">Stefanie Yuen Thio&#8217;s commentary on billion-dollar startups &#8220;Differentiating unicorns from asses&#8221; published in BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>TSMP Law Corporation Joint Managing Partner Stefanie Yuen Thio wrote a commentary on why some billion-dollar startups succeed and why some fail. This was published in the <a href="https://www.businesstimes.com.sg/opinion/differentiating-unicorns-from-asses" target="_blank" rel="noopener noreferrer">Business Times</a> on 29 November 2019. The commentary is also available as a <a href="http://www.tsmplaw.com/forefront/not-all-disruptors-are-unicorns/" target="_blank" rel="noopener noreferrer">Forefront by TSMP article</a>.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thios-commentary-on-billion-dollar-startups-differentiating-unicorns-from-asses-published-in-bt/">Stefanie Yuen Thio&#8217;s commentary on billion-dollar startups &#8220;Differentiating unicorns from asses&#8221; published in BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Derek Loh&#8217;s commentary on climate change &#8220;Pollution of the Solution?&#8221; published in the BT</title>
		<link>https://www.tsmplaw.com/news/derek-lohs-commentary-on-climate-change-pollution-of-the-solution-published-in-the-business-times/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Mon, 04 Nov 2019 07:54:53 +0000</pubDate>
				<guid isPermaLink="false">http://www.tsmplaw.com/?post_type=news&#038;p=2192</guid>

					<description><![CDATA[<p>TSMP Law Corporation Head of Construction and Engineering Derek Loh wrote a commentary on the noise surrounding climate change muddying the message. This was published in the Business Times on 2 November 2019. The commentary is also available as a Forefront by TSMP article.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/derek-lohs-commentary-on-climate-change-pollution-of-the-solution-published-in-the-business-times/">Derek Loh&#8217;s commentary on climate change &#8220;Pollution of the Solution?&#8221; published in the BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>TSMP Law Corporation Head of Construction and Engineering <a href="http://www.tsmplaw.com/lawyer/derek-loh" target="_blank" rel="noopener noreferrer">Derek Loh</a> wrote a commentary on the noise surrounding climate change muddying the message. This was published in the <a href="https://www.businesstimes.com.sg/life-culture/pollution-of-the-solution" target="_blank" rel="noopener noreferrer">Business Times</a> on 2 November 2019. The commentary is also available as a <a href="http://www.tsmplaw.com/forefront/pollution-of-the-solution/" target="_blank" rel="noopener noreferrer">Forefront by TSMP article</a>.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/derek-lohs-commentary-on-climate-change-pollution-of-the-solution-published-in-the-business-times/">Derek Loh&#8217;s commentary on climate change &#8220;Pollution of the Solution?&#8221; published in the BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Stefanie Yuen Thio and Adrian Tan&#8217;s commentary &#8220;Entrenching SIAS is not the solution&#8221; published in the Business Times</title>
		<link>https://www.tsmplaw.com/news/stefanie-yuen-thio-and-adrian-tans-commentary-entrenching-sias-is-not-the-solution-published-in-the-business-times/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Tue, 29 Oct 2019 07:39:23 +0000</pubDate>
				<guid isPermaLink="false">http://www.tsmplaw.com/?post_type=news&#038;p=2190</guid>

					<description><![CDATA[<p>TSMP Law Corporation Joint Managing Partner and Head of Corporate Stefanie Yuen Thio and Head of IP/TMT Adrian Tan wrote a commentary addressing SIAS’ proposal that it be a &#8220;formal requirement&#8221; where listed companies would &#8220;have to&#8221; engage with SIAS when they find themselves in need of restructuring, with SIAS &#8220;granted official standing to act&#8230;</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thio-and-adrian-tans-commentary-entrenching-sias-is-not-the-solution-published-in-the-business-times/">Stefanie Yuen Thio and Adrian Tan&#8217;s commentary &#8220;Entrenching SIAS is not the solution&#8221; published in the Business Times</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>TSMP Law Corporation Joint Managing Partner and Head of Corporate <a href="http://www.tsmplaw.com/lawyer/stefanie-yuen-thio" target="_blank" rel="noopener noreferrer">Stefanie Yuen Thio</a> and Head of IP/TMT <a href="http://www.tsmplaw.com/lawyer/adrian-tan" target="_blank" rel="noopener noreferrer">Adrian Tan</a> wrote a commentary addressing SIAS’ proposal that it be a &#8220;formal requirement&#8221; where listed companies would &#8220;have to&#8221; engage with SIAS when they find themselves in need of restructuring, with SIAS &#8220;granted official standing to act on behalf of stakeholders in court&#8221;. They believe for several reasons (outlined in the commentary) that this proposal is not in the best interests for the industry. This was published in the <a href="https://www.businesstimes.com.sg/companies-markets/entrenching-sias-is-not-the-solution" target="_blank" rel="noopener noreferrer">Business Times</a> on 29 October 2019.</p>
<p>The commentary is reproduced here:</p>
<p>On Oct 21, 2019, The Business Times published <a href="https://www.businesstimes.com.sg/companies-markets/enhancing-protection-for-minorities-during-times-of-corporate-distress" target="_blank" rel="noopener noreferrer">David Gerald&#8217;s commentary</a>, in which the Securities Investors Association of Singapore&#8217;s (Sias) founder, president and chief executive officer proposed a &#8220;formal requirement&#8221; where listed companies would &#8220;have to&#8221; engage with Sias when they find themselves in need of restructuring, with Sias &#8220;granted official standing to act on behalf of stakeholders in court&#8221;. He also suggests that funds be made available to finance ensuing advice and actions taken by retail investors.</p>
<p>In essence, the proposal would make it mandatory for listed companies to engage with Sias, and Sias alone would effectively be able to represent retail investors&#8217; interests.</p>
<p>Mr Gerald&#8217;s reasons for the proposals cannot be faulted. Retail investors, he said, &#8220;always find themselves disadvantaged relative to their institutional counterparts&#8221;, and &#8220;large investors have funds to pursue legal action&#8221;. Moreover, Mr Gerald&#8217;s personal commitment to the cause cannot be doubted. A former magistrate, coroner, deputy public prosecutor and state counsel in the Singapore Legal Service, he has, since founding Sias in 1999, been a tireless champion of corporate governance and the &#8220;little guy&#8221; investor.</p>
<p>Sias has played an important part in Singapore&#8217;s development as a world-class capital market. Every well-functioning market needs more than successful companies and vigilant regulators; it requires an ecosystem of independent gatekeepers comprising professionals, market researchers, a strong press corps and rights advocacy groups, prepared to call out wrongdoing and speak truth to power.</p>
<p>It is precisely because of this that we disagree with Mr Gerald&#8217;s proposals.</p>
<p><strong>Who watches the watchmen?</strong></p>
<p>Sias is established as a society. Its membership is open to all securities investors aged 21 and above who are Singapore citizens or permanent residents. It is managed by a management committee of office bearers elected by the members in an annual general meeting. While no one is questioning Mr Gerald&#8217;s crusading zeal, the same cannot be said of his successor, or his successor&#8217;s successor. And leadership change is not far off; Mr Gerald has spoken openly about finding a replacement.</p>
<p>If Sias is entrenched as the organisation that listed companies must engage with, people with ulterior motives could take over the leadership. Sias, which is neither licensed nor regulated under securities laws, would not be subject to oversight.</p>
<p><strong>Monopolies are anti-free market</strong></p>
<p>More important is the existential issue. Sias exists to serve the free market. Mr Gerald&#8217;s proposal would effectively give Sias a monopoly in enforcing investors&#8217; rights. A properly functioning free market must allow for market participants to choose the best candidate for the job. Sias may be the most active and even the most effective investors&#8217; association in Singapore right now, but that may change. Entrenching Sias will stifle the growth of other investors&#8217; advocacy groups. This would be especially relevant in cases where multiple sets of stakeholders have differing rights, requiring separate representation.</p>
<p>If all listed companies must engage with Sias as the representative of its retail investors, this could create an administrative bottleneck. As Mr Gerald has pointed out, the global economy is facing a possible trade war and debt restructurings could increase. Requiring all companies to engage with Sias, which may not have sufficient resources to deal with them, may slow down the resolution process. Furthermore, not every restructuring is a Hyflux, and investors should be free to decide which cases require more active minority representation.</p>
<p>If Sias has a formal role to play in the restructuring process, it will need to have its responsibilities laid out clearly. Retail investors will rely on the advice it gives, and presumably it will have influence over what court actions are taken or approved by minorities. Who will bear the responsibility for any damage or loss caused as a result of this? What is Sias&#8217;s liability in its self-appointed role of corporate gatekeeper and minority champion?</p>
<p><strong>Undue influence</strong></p>
<p>Sias has been candid about its fund-raising challenges. Should it be granted &#8220;official standing&#8221; as the investors&#8217; association de jure, listed corporates may attempt to buy &#8220;soft&#8221; influence through donations and sponsorships. Even in the absence of such external meddling, it would be tough for Sias to prove its independence if, for instance, allegations are raised by stakeholders with competing interests. This could undermine its effectiveness as a retail investor advocate when insolvencies arise.</p>
<p>One solution to Sias&#8217;s funding concerns is to have the government fund some of its operations. The government would then have to exercise oversight over the association, making the retail investor advocacy function one more of its responsibilities. Singapore is a first-world financial centre, where caveat emptor should be the free market&#8217;s operating principle. Corporate failures are part and parcel of the business world. Therefore, we should be increasing investor awareness, instead of providing one more state-funded safety net to protect private investors.</p>
<p>Sias has done an outstanding job advocating best-in-class corporate governance and representing retail investor rights in Singapore. Mr Gerald can be justifiably proud of what he and his team have achieved in the past 20 years. But, with respect, his present proposals, without more flesh on their bones, would be a step backwards.</p>
<p>We believe that the solution lies elsewhere</p>
<p>Singapore should update its legal system to make it a more rigorous bulwark against corporate mismanagement and insolvency. It should amend the Companies Act to allow for class action lawsuits and to help minority shareholders obtain timely company information in order to pursue valid legal claims against the directors and management team. The central depository system should facilitate shareholders, who wish to rally one another for a common cause, in their communication for a modest handling fee.</p>
<p>Laws on third-party litigation funding and success fees are already being relaxed; such new legislation should cover minority shareholder lawsuits in catastrophic insolvency situations. Singapore could consider instituting a semi-autonomous Ombudsman function &#8211; funded by the government &#8211; that would mediate stakeholders&#8217; conflicting rights, as other jurisdictions have implemented to some effect.</p>
<p>Sias has a worthy mission as an advocate for retail investors. The law needs to evolve to better empower minorities to champion their own rights, not appoint a permanent custodian who may not, tomorrow, be the crusader it is today.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thio-and-adrian-tans-commentary-entrenching-sias-is-not-the-solution-published-in-the-business-times/">Stefanie Yuen Thio and Adrian Tan&#8217;s commentary &#8220;Entrenching SIAS is not the solution&#8221; published in the Business Times</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Stefanie Yuen Thio and Leon Lim&#8217;s commentary on the new SGX delisting rules published in the BT.</title>
		<link>https://www.tsmplaw.com/news/stefanie-yuen-thio-and-leon-lims-commentary-on-the-new-sgx-delisting-rules-published-in-the-bt/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Mon, 22 Jul 2019 04:49:50 +0000</pubDate>
				<guid isPermaLink="false">http://www.tsmplaw.com/?post_type=news&#038;p=2059</guid>

					<description><![CDATA[<p>On 22 July 2019, the Business Times published Stefanie Yuen Thio and Leon Lim&#8217;s commentary on the SGX&#8217;s new delisting rules and the challenges the exchange may face implementing them, under the headline “SGX: A captivating or just a captive market?”. The article may be found here (BT Paywall). The op-ed will also be published&#8230;</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thio-and-leon-lims-commentary-on-the-new-sgx-delisting-rules-published-in-the-bt/">Stefanie Yuen Thio and Leon Lim&#8217;s commentary on the new SGX delisting rules published in the BT.</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>On 22 July 2019, the Business Times published Stefanie Yuen Thio and Leon Lim&#8217;s commentary on the SGX&#8217;s new delisting rules and the challenges the exchange may face implementing them, under the headline “SGX: A captivating or just a captive market?”. The article may be found here (<a href="https://www.businesstimes.com.sg/companies-markets/sgx-a-captivating-or-just-a-captive-market" target="_blank" rel="noopener">BT Paywall</a>). The op-ed will also be published in TSMP’s <a href="http://www.tsmplaw.com/forefront/" target="_blank" rel="noopener">Forefront</a> newsletter.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/stefanie-yuen-thio-and-leon-lims-commentary-on-the-new-sgx-delisting-rules-published-in-the-bt/">Stefanie Yuen Thio and Leon Lim&#8217;s commentary on the new SGX delisting rules published in the BT.</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Chee Chin Wi&#8217;s commentary on S-chips published in the BT</title>
		<link>https://www.tsmplaw.com/news/chee-chin-wis-commentary-on-s-chips-published-in-the-bt/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Thu, 04 Jul 2019 03:13:25 +0000</pubDate>
				<guid isPermaLink="false">http://www.tsmplaw.com/?post_type=news&#038;p=2032</guid>

					<description><![CDATA[<p>On 4 July 2019, the Business Times published Chin Wi&#8217;s commentary on whether S-chips really deserve their bad reputation, and why we need to start welcoming high-quality Chinese firms to list on the SGX, under the headline “Time to take another bite of S-chips”. The article may be found here (BT Paywall). The op-ed has&#8230;</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/chee-chin-wis-commentary-on-s-chips-published-in-the-bt/">Chee Chin Wi&#8217;s commentary on S-chips published in the BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>On 4 July 2019, the Business Times published Chin Wi&#8217;s commentary on whether S-chips really deserve their bad reputation, and why we need to start welcoming high-quality Chinese firms to list on the SGX, under the headline “Time to take another bite of S-chips”. The article may be found here (<a href="https://www.businesstimes.com.sg/companies-markets/time-to-take-another-bite-of-s-chips" target="_blank" rel="noopener">BT Paywall</a>). The op-ed has also been published in TSMP’s <a href="http://www.tsmplaw.com/forefront/time-to-take-another-bite-of-s-chips/" target="_blank" rel="noopener">Forefront</a> newsletter.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/chee-chin-wis-commentary-on-s-chips-published-in-the-bt/">Chee Chin Wi&#8217;s commentary on S-chips published in the BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Adrian Tan&#8217;s commentary on the Pofma published in BT</title>
		<link>https://www.tsmplaw.com/news/adrian-tans-commentary-on-the-pofma-published-in-bt/</link>
		
		<dc:creator><![CDATA[cli_admin]]></dc:creator>
		<pubDate>Sat, 25 May 2019 03:42:07 +0000</pubDate>
				<guid isPermaLink="false">http://www.tsmplaw.com/?post_type=news&#038;p=2003</guid>

					<description><![CDATA[<p>On 23 May 2019, the Business Times published Adrian&#8217;s commentary on Pofma and corporates under the headline “Fake meat good, fake news bad”. The article may be found here (BT Paywall). The op-ed will also be published in TSMP’s Forefront newsletter on 3 Jun 2019.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/adrian-tans-commentary-on-the-pofma-published-in-bt/">Adrian Tan&#8217;s commentary on the Pofma published in BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>On 23 May 2019, the Business Times published Adrian&#8217;s commentary on Pofma and corporates under the headline “Fake meat good, fake news bad”. The article may be found here (<a href="https://www.businesstimes.com.sg/opinion/fake-meat-good-fake-news-bad" target="_blank" rel="noopener">BT Paywall</a>). The op-ed will also be published in TSMP’s <a href="http://www.tsmplaw.com/forefront">Forefront</a> newsletter on 3 Jun 2019.</p>
<p>The post <a rel="nofollow" href="https://www.tsmplaw.com/news/adrian-tans-commentary-on-the-pofma-published-in-bt/">Adrian Tan&#8217;s commentary on the Pofma published in BT</a> appeared first on <a rel="nofollow" href="https://www.tsmplaw.com">TSMP Law Corporation</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
